<div class="jumbotron">
	<h1 class="display-4 text-center">Employee Register</h1>
	<hr>
	<div class="row">
		<div class="col-md-5">
			<app-employee></app-employee>
		</div>
		<div class="col-md-7">
			<app-emloyee-list></app-emloyee-list>
		</div>
	</div>
</div>
