<form #form='ngForm' autocomplete="off">
	<div class="form-group">
		<label>Full Name</label>
		<input type="text" name="FullName" #FullName="ngModel" [(ngModel)]="service.formData.FullName"
			class="form-control" required>
		<div class="validation-error" *ngIf="FullName.invalid && FullName.touched"> This field is required</div>
	</div>
	<div class="form-group">
		<label>Position</label>
		<input type="text" name="Position" #Position="ngModel" [(ngModel)]="service.formData.Position"
			class="form-control">
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>EMP CODE</label>
			<input type="text" name="EMPCode" #EMPCode="ngModel" [(ngModel)]="service.formData.EMPCode"
				class="form-control">
		</div>
		<div class="form-group col-md-6">
			<label>Mobile</label>
			<input type="text" name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile"
				class="form-control">
		</div>

	</div>
	<div class="form-group">
		<button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
	</div>
</form>
