/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.form-group>input {
	font-weight: bolder;
}

.form-group>label {
	font-weight: lighter;
}

button[type="submit"] {
	background-color: #67dfd4;
	color: #fff;

}

.jumbotron {
	background-color: #fff;
	padding-top: 32px;
}

table tr:hover {
	cursor: pointer;
}

input.ng-touched.ng-invalid {
	border-color: #dc3545;
}

div.validation-error {
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #dc3545;
}
